.titre {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2a2a2a;
    -fx-alignment: center;
}

.text-field {
    -fx-pref-width: 250px;
}

.button {
    -fx-padding: 8 16;
    -fx-font-size: 14px;
    -fx-background-color: #0077cc;
    -fx-text-fill: white;
    -fx-background-radius: 6px;
}

.button:hover {
    -fx-background-color: #005fa3;
}
#aide{
    -fx-background-color: red;
}
